z-mnpWsClient/src/main/resources/wsdl/smd.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://domain.sd.cat/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SubscriberInfoInterfaceService" targetNamespace="http://domain.sd.cat/">
    <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://domain.sd.cat/" elementFormDefault="unqualified" targetNamespace="http://domain.sd.cat/" version="1.0">

  <xs:element name="OfferInfo" type="tns:offerInfo"/>

  <xs:element name="getCoreBalance" type="tns:getCoreBalance"/>

  <xs:element name="getCoreBalanceResponse" type="tns:getCoreBalanceResponse"/>

  <xs:element name="getInfo" type="tns:getInfo"/>

  <xs:element name="getInfoResponse" type="tns:getInfoResponse"/>

  <xs:complexType name="getInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:subscriberInfoRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subscriberInfoRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="languageCode" type="xs:int"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:subscriberInfoResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subscriberInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="activeDate" type="xs:dateTime"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="balanceInfoList" nillable="true" type="tns:balanceInfo"/>
      <xs:element minOccurs="0" name="cachedDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="coreBalanceInfo" type="tns:balanceInfo"/>
      <xs:element minOccurs="0" name="languageCode" type="xs:short"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="offerInfoList" nillable="true" type="tns:offerInfo"/>
      <xs:element minOccurs="0" name="paymentType" type="tns:PaymentType"/>
      <xs:element minOccurs="0" name="ratingStateType" type="tns:RatingStateType"/>
      <xs:element minOccurs="0" name="serviceInactiveDate" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="balanceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="currencyType" type="xs:string"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="expirationDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="rcAwardValue" type="xs:decimal"/>
      <xs:element minOccurs="0" name="unitType" type="xs:string"/>
      <xs:element minOccurs="0" name="value" type="xs:decimal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="offerInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="activeDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="description" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:int"/>
      <xs:element minOccurs="0" name="inactiveDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="isPrimary" type="xs:boolean"/>
      <xs:element minOccurs="0" name="level" type="xs:int"/>
      <xs:element minOccurs="0" name="name" type="xs:string"/>
      <xs:element minOccurs="0" name="offerState" type="xs:short"/>
      <xs:element minOccurs="0" name="termsAndConditions" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCoreBalance">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="tns:subscriberInfoRequest"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCoreBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:subScriberCoreBalanceResponse"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="subScriberCoreBalanceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="coreBalance" type="xs:decimal"/>
      <xs:element minOccurs="0" name="msisdn" type="xs:string"/>
      <xs:element minOccurs="0" name="paymentType" type="tns:PaymentType"/>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="PaymentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Prepaid"/>
      <xs:enumeration value="Postpaid"/>
      <xs:enumeration value="Hybrid"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="RatingStateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Idle"/>
      <xs:enumeration value="Active"/>
      <xs:enumeration value="AwaitActivation"/>
      <xs:enumeration value="Await1stRecharge"/>
      <xs:enumeration value="FraudLockout"/>
      <xs:enumeration value="SuspendL1"/>
      <xs:enumeration value="SuspendL2"/>
      <xs:enumeration value="Deactivate"/>
      <xs:enumeration value="Terminated"/>
      <xs:enumeration value="DisconnectRequest"/>
      <xs:enumeration value="Disconnected"/>
    </xs:restriction>
  </xs:simpleType>

</xs:schema>
    </wsdl:types>
    <wsdl:message name="getInfo">
        <wsdl:part element="tns:getInfo" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getInfoResponse">
        <wsdl:part element="tns:getInfoResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCoreBalance">
        <wsdl:part element="tns:getCoreBalance" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getCoreBalanceResponse">
        <wsdl:part element="tns:getCoreBalanceResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="SubscriberInfoInterface">
        <wsdl:operation name="getInfo">
            <wsdl:input message="tns:getInfo" name="getInfo"/>
            <wsdl:output message="tns:getInfoResponse" name="getInfoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getCoreBalance">
            <wsdl:input message="tns:getCoreBalance" name="getCoreBalance"/>
            <wsdl:output message="tns:getCoreBalanceResponse" name="getCoreBalanceResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SubscriberInfoInterfaceServiceSoapBinding" type="tns:SubscriberInfoInterface">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getInfo">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getInfo">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getInfoResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getCoreBalance">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getCoreBalance">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCoreBalanceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SubscriberInfoInterfaceService">
        <wsdl:port binding="tns:SubscriberInfoInterfaceServiceSoapBinding" name="SubscriberInfoInterfacePort">
            <soap:address location="http://10.44.1.42:8080/SdCat/api/SubscriberInfo"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>